<%layout("/layouts/boilerplate.ejs")%>

    <body>
        <h3>all lisiting</h3>
        <div class="row row-cols-lg-3 row-cols-md-2">
  <% for(let listing of allListings){ %>
            <div class="card" style="width: 18rem;">
                <img src="/<%= listing._id%>" class="card-img-top" style="height: 18rem; alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                       <b><%= listing.title %></b> 
                        <br>
                        &#8377;<%= listing.price.toLocaleString("en-IN") %>/night
                    </p>
                </div>
            </div>
            <%}%>
        </div>
      
                
    </body>